<server description="JMS Sample">

    <!-- Enable features -->
    <featureManager>
        <feature>localConnector-1.0</feature>
        <feature>servlet-3.1</feature>
        <feature>wasJmsClient-2.0</feature>
        <feature>wasJmsServer-1.0</feature>
        <feature>jndi-1.0</feature>
        <feature>jsp-2.3</feature>
    </featureManager> 

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080">
        <tcpOptions soReuseAddr="true"/>
    </httpEndpoint>

<messagingEngine>
    <queue id="QUEUE1"> </queue>
</messagingEngine>

<wasJmsEndpoint host="*" wasJmsPort="7276" wasJmsSSLPort="9100">
</wasJmsEndpoint>

<jmsQueueConnectionFactory jndiName="jndi_JMS_BASE_QCF">
    <properties.wasJms remoteServerAddress="localhost:7276:BootStrapBasicMessaging"/>
</jmsQueueConnectionFactory>

<jmsQueue jndiName="jndi_INPUT_Q">
    <properties.wasJms queueName="QUEUE1"/>
</jmsQueue>

<jmsTopicConnectionFactory jndiName="jmsTCF">
    <properties.wasJms clientID="defaultID"/>
</jmsTopicConnectionFactory>

<jmsTopic jndiName="jmsTopic">
    <properties.wasJms topicName="Football"/>
</jmsTopic>

    <application name="sample.javaee7.jms" context-root="/sample.javaee7.jms" location="${appLocation}" type="war"/>
</server>
